@let facsimile = facsimile$ | async;
@let missing = missingFileNumbers();
@let missingOrig = missingFileNumbersOrig();

<h1>Facsimile collection management</h1>
<div class="selected-facsimile-collection">
  <button matIconButton (click)="returnNav(facsimile?.id)">
    <mat-icon>west</mat-icon>
  </button>
  <h2>{{ facsimile?.title || '' }} (ID {{ facsimile?.id }}{{ facsimile?.description ? '; ' + facsimile?.description : '' }})</h2>
</div>

@if (loadingFacsData()) {
  <loading-spinner></loading-spinner>
} @else if (facsimile) {
  @if (mode === 'all') {
    @if (facsimile.number_of_pages) {
      <h3>Upload images to all pages in the facsimile collection ({{facsimile.number_of_pages}})</h3>
      <p>Any existing images in the facsimile collection will be replaced.</p>
      <file-upload
        [collectionId]="facsimile.id"
        [numberOfPages]="facsimile.number_of_pages"
        [missingFileNumbers]="facsimile.number_of_pages | rangeArray">
      </file-upload>

    } @else {
      <p>No pages in the selected facsimile collection.</p>
    }

  } @else if (mode === 'missing') {
    @if (facsimile.number_of_pages && missingOrig.length) {
      <h3>Upload missing images to the facsimile collection ({{ missing.length }} / {{ facsimile.number_of_pages }})</h3>
      <p>
        Page numbers that are missing images:&ngsp;
        @if (missing.length === 1) {
          {{ missing[0] }}.
        } @else if (missing.length) {
          {{ missing[0] }}–{{ missing[missing.length -1] }}.
        } @else {
          none.
        }
      </p>
      <file-upload
        [collectionId]="facsimile.id"
        [numberOfPages]="facsimile.number_of_pages"
        [missingFileNumbers]="missingOrig"
        (filesUploaded)="uploadComplete()">
      </file-upload>

    } @else if (missingOrig.length) {
      <p>No pages in the selected facsimile collection.</p>
    } @else {
      <p>The selected facsimile collection does not have missing facsimile images, i.e. all pages have an uploaded image.</p>
    }

  } @else {
    <p>Incorrect route.</p>
  }
}

@if (uploadCompleted()) {
  <button
    class="completed-back-nav"
    matButton="filled"
    (click)="returnNav(facsimile?.id)"
  >Return to facsimile collection</button>
}
