@let selectedProject = selectedProject$ | async;
@let sortParams = sortParams$ | async;
@let filterParams = filterParams$ | async;
@let selectedCollection = selectedFacsimileCollection$ | async;
@let collectionId = collectionId$ | async;

<div class="container">
  <h1>Facsimile management</h1>

  @if (!selectedProject) {
    <p>Please select a project</p>
  } @else if (collectionId) {
    @if (selectedCollection) {
      <facsimile-collection [collection]="selectedCollection"></facsimile-collection>
    } @else {
      <loading-spinner></loading-spinner>
    }
  } @else {
    <div class="header-row">
      <div class="actions">
        <button mat-flat-button [matBadge]="sortParams && sortParams?.length ? sortParams.length : null" (click)="sort()"><mat-icon>sort</mat-icon>Sort</button>
        <button mat-flat-button [matBadge]="filterParams && filterParams?.length ? filterParams.length : null" (click)="filter()"><mat-icon>filter_list</mat-icon>Filter</button>
        <button mat-flat-button (click)="editCollection()"><mat-icon>add</mat-icon>Add</button>
      </div>
    </div>
    <custom-table
      [data$]="facsimilesResult$"
      [columns]="columnsData"
      [loadingData]="loadingData"
      (editRow)="editCollection($event)"
      (openRow)="open($event)">
    </custom-table>
  }

</div>
