.index {
  color: #c4c4c4;
}

::ng-deep .mat-badge-content {
  background-color: #f44336 !important;
  color: white !important;
}

.total {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
