.bundle-row {
  display: flex;
  gap: 10px;
  align-items: flex-end;

  @media screen and (max-width: 1280px) {
    gap: 4px;
  }

  @media screen and (max-width: 960px) {
    flex-direction: column;
    align-items: flex-start;
  }

  button.mdc-icon-button {
    align-self: center;
    margin-bottom: 0.85em;
  }

  span {
    align-self: center;
    margin-bottom: 1.25em;
    min-width: 1.875em;
    text-align: center;
    width: 1.875em;
  }
}
.mat-mdc-form-field {
  min-width: 9.375rem;

  &.name-field {
    flex-grow: 2;
    min-width: 18.75rem;

    @media screen and (max-width: 960px) {
      width: 100%;
    }
  }

  &.language-field {
    min-width: 7.1875rem;
    max-width: 7.1875rem;
  }

  &.genre-field {
    max-width: 9.375rem;
  }

  &.date-field {
    min-width: 8.5rem;
    max-width: 8.5rem;
  }

  &.path {
    flex-grow: 3;
    min-width: 18.75rem;

    @media screen and (max-width: 960px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 960px) {
    width: 100%;
  }
}

.files {
  padding-bottom: 20px;

  .file-row {
    padding: 6px 0;
  }
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

mat-divider {
  margin-bottom: 20px;
}

file-tree {
  display: block;
  margin-top: 2em;
}

.published-row {
  display: flex;
  gap: 1em;
  margin-top: 2.5em;

  .actions {
    display: flex;
    gap: 1em;

    .mat-mdc-form-field {
      width: 300px;
    }
  }

  button {
    margin-top: 10px;
  }

  .submit-buttons {
    margin-left: auto;

    .clear-button {
      margin-right: 0.75em;
    }
  }
}

.error-box {
  color: #d32f2f;
  padding: 10px;
  border: 1px solid #d32f2f;
  border-radius: 10px;
  margin-bottom: 20px;
}
