.search-field {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

table {
  width: 100%;

  td:not(.mat-no-data-cell) {
    cursor: pointer;
  }
}

h3 {
  margin-top: 0;
}

.linklike {
  background: none;
  border: none;
  padding: 0;
  color: #0000ee;
  cursor: pointer;
  font-size: 1em;
  text-align: left;
  text-decoration: underline;
}

td.mat-column-index {
  color: #9d9d9d;
}

td.mat-column-name {
  width: 100%;
}

.center-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 16px 0;
}

.selected {
  background-color: #e1e1e1;

  .mat-column-name {
    font-weight: 500;
  }
}

tr.mat-mdc-row:not(.mat-mdc-no-data-row):hover td {
  background-color: #ebebef;
  transition: background-color 0.3s;
}
