.file-input {
  display: none;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  .image {
    border: solid 1px #ccc;
  }

  .image > div {
    text-align: center;
    background-color: #ccc;
  }

}

.pages {
  margin: 20px 0;
}
