<h2 mat-dialog-title>{{ data.person.id ? 'Edit' : 'Add' }} person</h2>
<mat-dialog-content>

  @if (fieldForTranslate == null) {
    <form *ngIf="columns.length" [formGroup]="form" id="person-form" (ngSubmit)="onSubmit($event)">
      @for (column of columns; track column.field) {
        <div>
          <ng-container *ngIf="column.type === 'date' else otherTypes">
            <!-- for some reason styles don't work if this is done similarly -->
            <mat-form-field>
              <mat-label>{{ column.header }}</mat-label>
              <input matInput [formControlName]="column.field" [matDatepicker]="picker"/>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </ng-container>

          <ng-template #otherTypes>
            <mat-form-field>
              <mat-label>{{ column.header }}</mat-label>
              <ng-container *ngIf="column.type === 'boolean'">
                <mat-select [formControlName]="column.field">
                  <mat-option>Any</mat-option>
                  <mat-option [value]="0">No</mat-option>
                  <mat-option [value]="1">Yes</mat-option>
                </mat-select>
              </ng-container>
              <ng-container *ngIf="column.type === 'type'">
                <mat-select [formControlName]="column.field">
                  <mat-option>Any</mat-option>
                  @for (type of personTypes; track type.value) {
                    <mat-option [value]="type.value">{{ type.label }}</mat-option>
                  }
                </mat-select>
              </ng-container>
              <ng-container *ngIf="column.type === 'textarea'">
                <textarea
                  matInput
                  [formControlName]="column.field"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="7"
                  ></textarea>
              </ng-container>
              <ng-container *ngIf="column.type === 'string' || column.type === 'number'">
                <input matInput [formControlName]="column.field" />
              </ng-container>
            </mat-form-field>
          </ng-template>
          @if (column.translations && data.person.id) {
            <div class="translations">
              <button mat-flat-button type="button" (click)="showTranslations(column)"><mat-icon>language</mat-icon>{{column.header}} translations</button>
            </div>
          }
        </div>
      }
    </form>
  } @else {
    <field-translations [field]="fieldForTranslate" [data]="data.person" (close)="fieldForTranslate = null"></field-translations>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close [disabled]="fieldForTranslate != null">Cancel</button>
  <button *ngIf="form" mat-button [mat-dialog-close]="true" type="submit" [disabled]="!form.valid || fieldForTranslate != null" form="person-form">{{ data.person.id ? 'Edit' : 'Add' }} person</button>
</mat-dialog-actions>
