.file-input {
  display: none;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 20px;
}

mat-icon {
  &.pending {
    color: #7d7d7d;
  }
  &.success {
    color: #337a35;
  }
  &.error {
    color: #c42929;
  }
  &.progress {
    color: #1a2edf;
  }
}

mat-progress-bar {
  &.success {
    --mdc-linear-progress-active-indicator-color: #337a35;
  }
  &.error {
    --mdc-linear-progress-active-indicator-color: #c42929;
  }
}

.actions {
  margin: 10px 0;
  display: flex;
  gap: 10px;
}
