:host {
  display: block;
  margin-top: 2rem;
}

mat-card {
  background-color: #fcfcfc;
  width: 400px;
  margin: auto;
}

mat-card-header {
  justify-content: center;
}

.login-form {
  padding-top: 1.125em;
  width: 100%;
}

.row .mat-mdc-form-field {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
}

.api-url {
  font-size: 0.875em;
}

.login-footer {
  margin: 50px auto;
  width: 360px;

  p {
    line-height: 1.5;
    text-align: center;
  }
}
