.login-form {
  width: 400px;
  margin: auto;
  padding: 2em 4em;
  background-color: aliceblue;
}

.row .mat-mdc-form-field {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
}
