:host {
  display: block;
  margin-top: 2rem;
}

mat-card {
  background-color: #fcfcfc;
  width: 400px;
  margin: auto;
}

mat-card-header {
  justify-content: center;
}

.login-form {
  padding-top: 1.125em;
  width: 100%;
}

.row .mat-mdc-form-field {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
}

.login-error {
  background-color: #A82424;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 1rem;
  padding: 0.75em 0.75em;
  border-radius: 4px;
  text-align: center;
  width: calc(100% - 1.5em);
}

.api-url {
  font-size: 0.875em;
}

.login-footer {
  margin: 50px auto;
  width: 360px;

  p {
    line-height: 1.5;
    text-align: center;
  }
}
