
<style>
</style>

<main class="main">
  <topbar (onMenuToggle)="drawer.toggle()"></topbar>
  <mat-drawer-container class="drawer">
    <mat-drawer #drawer mode="over">
      <navigation (onMenuToggle)="drawer.toggle()"></navigation>
    </mat-drawer>
    <mat-drawer-content>
      <div class="content">
        <ng-container *ngIf="(loading$ | async) === true">
          <div class="overlay"><mat-spinner></mat-spinner></div>
        </ng-container>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</main>
