
<style>
</style>

<main class="main">
  <topbar (onMenuToggle)="drawer.toggle()"></topbar>
  <mat-drawer-container class="drawer">
    <mat-drawer #drawer mode="over">
      <navigation (onMenuToggle)="drawer.toggle()"></navigation>
    </mat-drawer>
    <mat-drawer-content>
      <div class="content">
        <ng-container *ngIf="(loading$ | async) === true">
          <div class="overlay"><mat-spinner></mat-spinner></div>
        </ng-container>
        <ng-container *ngIf="currentUrl$ | async as currentUrl">
          <ng-container *ngIf="currentUrl === '/'">
            <ng-container *ngIf="(isAuthenticated$ | async) === true">
              <home></home>
            </ng-container>
            <ng-container *ngIf="(isAuthenticated$ | async) === false">
              <login></login>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="currentUrl !== '/'">
            <router-outlet></router-outlet>
          </ng-container>
        </ng-container>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</main>
