@let filterParams = filterParams$ | async;
@let publication = publication$ | async;

<h1>Add facsimile to publication</h1>
<div class="publication-back-link">
  <a mat-icon-button [routerLink]="publicationsPath"><mat-icon>west</mat-icon></a>
  <h2>{{ publication?.name || '' }}</h2>
</div>

<p>Fill in the facsimile details and select a facsimile collection below.</p>
<form [formGroup]="form" (ngSubmit)="submit($event)">
  <div class="fields">
    <mat-form-field>
      <mat-label>Initial page number</mat-label>
      <input matInput type="number" formControlName="page_nr" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <input matInput type="number" formControlName="priority" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Section ID</mat-label>
      <input matInput type="number" formControlName="section_id" />
    </mat-form-field>
  </div>
  <button mat-flat-button type="submit" [disabled]="!form.valid">Save</button>
</form>

<custom-table
  [data$]="facsimileCollections$"
  [columns]="columns"
  [selectable]="true"
  (selectRow)="setSelectedRow($event)">
  <ng-content custom-table-title>Facsimile collections</ng-content>
  <ng-content custom-table-actions>
    <button
      mat-flat-button
      [matBadge]="filterParams && filterParams?.length ? filterParams.length : null"
      (click)="filter()">
        <mat-icon>filter_list</mat-icon>
        Filter
    </button>
  </ng-content>
</custom-table>

@if (loading$ | async) {
  <loading-spinner [overlay]="true"></loading-spinner>
}
