@let sortParams = sortParams$ | async;
@let filterParams = filterParams$ | async;

<ng-container *ngIf="publicationCollectionId$ | async as publicationCollectionId">
  <div class="publications">
    <div class="content">
      <div class="list">
        @if (loading$ | async) {
          <loading-spinner [overlay]="true"></loading-spinner>
        }
          <custom-table
            [data$]="publicationsResult$"
            [columns]="publicationColumnsData"
            [selectedId]="publicationId$ | async"
            [idRouteParams]="['/publication-collections/', publicationCollectionId, 'publication']"
            (editRow)="editPublication($event, publicationCollectionId)">
            <ng-content custom-table-title>Publications</ng-content>
            <ng-content custom-table-actions>
              <button mat-flat-button [matBadge]="sortParams && sortParams?.length ? sortParams.length : null" (click)="sort()"><mat-icon>sort</mat-icon>Sort</button>
              <button mat-flat-button [matBadge]="filterParams && filterParams?.length ? filterParams.length : null" (click)="filter()"><mat-icon>filter_list</mat-icon>Filter</button>
              <button mat-flat-button (click)="editPublication(null, publicationCollectionId)"><mat-icon>add</mat-icon>Add</button>
            </ng-content>
          </custom-table>

      </div>
      <div>
        <ng-container *ngIf="selectedPublication$ | async as selectedPublication">
          <h3>{{ selectedPublication.name }} </h3>
          <ng-container *ngIf="publicationCollectionId$ | async as publicationCollectionId">
            <div class="cards">

              <mat-card appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Reading text</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="file-row">
                    <div><span>Filename:</span> {{ selectedPublication.original_filename?.split('/')?.join(' / ') }}</div>
                    <button mat-icon-button (click)="editSelectedText(selectedPublication)"><mat-icon>edit</mat-icon></button>
                  </div>
                </mat-card-content>
              </mat-card>

              <mat-card appearance="outlined">
                <mat-card-content>
                  <custom-table
                    [data$]="commentsResult$"
                    [columns]="commentsColumnData"
                    [paginationEnabled]="false"
                    (editRow)="editComment($event, selectedPublication.id)">
                    <ng-content custom-table-title>Comments</ng-content>
                    <ng-content custom-table-actions>
                      <button mat-flat-button (click)="editComment(null, selectedPublication.id)"><mat-icon>add</mat-icon>Add</button>
                    </ng-content>
                  </custom-table>
                </mat-card-content>
              </mat-card>

              <mat-card appearance="outlined">
                <mat-card-content>
                  <custom-table
                    [data$]="facsimilesResult$"
                    [columns]="facsimileColumnData"
                    [paginationEnabled]="false"
                    (editRow)="editFacsimile($event, selectedPublication.id)">
                    <ng-content custom-table-title>Facsimiles</ng-content>
                    <ng-content custom-table-actions>
                      <a mat-flat-button routerLink="facsimiles/new"><mat-icon>add</mat-icon>Add</a>
                    </ng-content>
                  </custom-table>
                </mat-card-content>
              </mat-card>

              <mat-card appearance="outlined">
                <mat-card-content>
                  <custom-table
                    [data$]="manuscriptsResult$"
                    [columns]="manuscriptColumnsData"
                    [paginationEnabled]="false"
                    (editRow)="editManuscript($event, selectedPublication.id)">
                    <ng-content custom-table-title>Manuscripts</ng-content>
                    <ng-content custom-table-actions>
                      <button mat-flat-button (click)="editManuscript(null, selectedPublication.id)"><mat-icon>add</mat-icon>Add</button>
                    </ng-content>
                  </custom-table>
                </mat-card-content>
              </mat-card>

              <mat-card appearance="outlined">
                <mat-card-content>
                  <custom-table
                    [data$]="versionsResult$"
                    [columns]="versionColumnsData"
                    [paginationEnabled]="false"
                    (editRow)="editVersion($event, selectedPublication.id)">
                    <ng-content custom-table-title>Versions</ng-content>
                    <ng-content custom-table-actions>
                      <button mat-flat-button (click)="editVersion(null, selectedPublication.id)"><mat-icon>add</mat-icon>Add</button>
                    </ng-content>
                  </custom-table>
                </mat-card-content>
              </mat-card>

            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
