.content {
  display: flex;
  gap: 50px;

  .list {
    min-width: 500px;
  }
}

.publications {
  width: calc(100vw - 24px - 8em);

  .header {
    display: flex;
    gap: 50px;
    align-items: center;
  }
}

td.selected {
  background-color: #d5d4d4;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-weight: 600;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

::ng-deep .mat-mdc-card-header-text {
  width: 100%;
}

::ng-deep .mat-mdc-card-title {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
