.publications-wrapper {
  display: flex;
  gap: 50px;
  margin-top: 1em;

  @media screen and (max-width: 1599px) {
    gap: 30px;
  }

  @media screen and (max-width: 1400px) {
    gap: 20px;
  }

  .publications-col {
    width: 100%;
    max-width: 1200px;

    &.publication-selected {
      flex-grow: 0;
      flex-shrink: 0;
      width: 900px;
      max-width: unset;

      @media screen and (max-width: 2500px) {
        width: 825px;
      }
      @media screen and (max-width: 2250px) {
        width: 750px;
      }
      @media screen and (max-width: 2100px) {
        width: 675px;
      }
      @media screen and (max-width: 1750px) {
        width: 600px;
      }
      @media screen and (max-width: 1600px) {
        width: 550px;
      }
    }
  }

  .selected-publication-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 3;
  }
}

td.selected {
  background-color: #d5d4d4;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.selected-publication-data {
  column-gap: 1.5em;
  display: flex;
  flex-wrap: wrap;
  margin: 0.625em 0 0 0;

  > div {
    max-width: 300px;
    width: 100%;

    > div {
      padding: 0.25em 0;
    }
  }
}

.reading-text-file-row {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-top: 0.25em;
}
