.content {
  display: flex;
  gap: 50px;
  margin-top: 1em;

  @media screen and (max-width: 960px) {
    gap: 20px;
  }

  .publications-col {
    flex-grow: 2;
    min-width: 800px;

    @media screen and (max-width: 2500px) {
      min-width: 725px;
    }
    @media screen and (max-width: 2100px) {
      min-width: 675px;
    }
    @media screen and (max-width: 1750px) {
      min-width: 600px;
    }
    @media screen and (max-width: 1600px) {
      min-width: 550px;
    }
  }

  .selected-publication-col {
    flex-grow: 3;
  }
}

td.selected {
  background-color: #d5d4d4;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.selected-publication-data {
  column-gap: 1.5em;
  display: flex;
  flex-wrap: wrap;
  margin: 0.625em 0 0 0;

  > div {
    max-width: 300px;
    width: 100%;

    > div {
      padding: 0.25em 0;
    }
  }
}

.reading-text-file-row {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-top: 0.25em;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-card {
  @media screen and (max-width: 960px) {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

::ng-deep .mat-mdc-card-header-text {
  width: 100%;
}

::ng-deep .mat-mdc-card-title {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
