.selectable {
  cursor: pointer;
  word-break: break-all;

  &:hover span {
    background-color: #dadada;
    border-radius: 2px;
  }
}

span.selectable:hover {
  background-color: #dadada;
  border-radius: 2px;
}

.expandable {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.selected {
  font-weight: 700;
}

::ng-deep .mat-tree-node {
  min-height: 0 !important;
}

.mat-tree-node span {
  padding: 4px 8px;
}
