
@if (closeInUse) {
  <button mat-icon-button type="button" (click)="previous()"><mat-icon>west</mat-icon></button>
}

@if (loading && showLoading) {
  <loading-spinner></loading-spinner>
}
<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
  <!-- Node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="20">
    <button mat-icon-button disabled></button>
    <span
        [ngClass]="{'selected': isSelected(node), 'selectable': node.isSelectable}"
        (click)="node.isSelectable ? select(node, tree) : null">
      {{node.name}}
    </span>
  </mat-tree-node>

  <!-- Node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="20">
    <div
        class="expandable"
        [ngClass]="{'selected': isSelected(node), 'selectable': node.isSelectable }"
        [attr.aria-label]="'toggle ' + node.name" matTreeNodeToggle>
      <button mat-icon-button>
        <mat-icon class="mat-icon-rtl-mirror">
          {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <span (click)="node.isSelectable ? select(node, tree) : null"> {{node.name}}</span>
    </div>
  </mat-tree-node>
</mat-tree>
