@if (onlyFiles) {
  <button mat-icon-button type="button" (click)="previous()"><mat-icon>west</mat-icon></button>
  @if (loading) {
    <loading-spinner></loading-spinner>
  }
  <ng-container [ngTemplateOutlet]="fileTree"></ng-container>
} @else {
  <mat-dialog-content>

    <ng-container [ngTemplateOutlet]="fileTree"></ng-container>
    @if (loading) {
      <loading-spinner></loading-spinner>
    }

  </mat-dialog-content>

  <mat-dialog-actions>
    <div><span class="selected">selected:</span> {{ selectedNodes.join(' / ') }}</div>
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-button
      [mat-dialog-close]="selectedNodes"
      [disabled]="selectedNodes.length === 0"
      (click)="selected()">
      Select
    </button>
  </mat-dialog-actions>
}

<ng-template #fileTree>
  <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- Node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="20">
      <button mat-icon-button disabled></button>
      <span class="selectable" [ngClass]="{'selected': selectedNodeName === node.name}" (click)="select(node)">{{node.name}}</span>
    </mat-tree-node>

    <!-- Node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="20">
      <div class="expandable" [ngClass]="{'selected': isSelected(node) }" [attr.aria-label]="'toggle ' + node.name" matTreeNodeToggle>
        <button mat-icon-button >
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </div>
    </mat-tree-node>
  </mat-tree>
</ng-template>
