.selectable {
  cursor: pointer;
  word-break: break-all;

  &:hover {
    background-color: #f0f0f0;
  }
}

.expandable {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.selected {
  font-weight: 600;
}

.selected-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

::ng-deep .mat-tree-node {
  min-height: 0 !important;
}
