@let availableProjects = availableProjects$ | async;
@let environment = environment$ | async;
@let selectedProject = selectedProject$ | async;
@let details = repoDetails$ | async;

<div class="main-wrapper">
  <h1>Vincent</h1>
  <p role="doc-subtitle">– Content management system for SLS digital editions –</p>

  @if (environment === 'https://granska-api.sls.fi/') {
    <div class="granska-api-notification">
      <p>Notice: granska-api.sls.fi uses the production database!</p>
    </div>
  }

  <h2>Project settings</h2>
  <div class="project-wrapper">
    <mat-card appearance="outlined" class="select-project">
      <mat-card-header>
        <mat-card-title>Select active project</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if (availableProjects) {
          <mat-form-field>
            <mat-label>Project</mat-label>
            <mat-select [value]="selectedProject" (selectionChange)="changeProject($event)">
              @for (project of availableProjects; track project.name) {
                <mat-option [value]="project.name">
                  {{ project.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        } @else {
          <p>You don’t have access to any projects.</p>
        }
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="repository-details">
      <mat-card-header>
        <mat-card-title>Project GitHub repository</mat-card-title>
      </mat-card-header>
      @if (details !== null) {
        <mat-card-content>
          <ul>
            <li><strong>Repository:</strong> {{details.name}}</li>
            <li><strong>Branch:</strong> {{details.branch}}</li>
          </ul>
          <button mat-flat-button (click)="pullRepo()" [disabled]="syncingRepo">Update local repository on server</button>
        </mat-card-content>
      } @else {
        <mat-card-content>
          @if (!selectedProject) {
            <p>Select a project to view its repository details.</p>
          } @else {
            <p>Project repository not configured on server.</p>
          }
        </mat-card-content>
      }
    </mat-card>
  </div>

  <h2>Manage content</h2>

  <div class="nav-items">
    @for (item of navItems; track item.route) {
      <mat-card appearance="outlined">
        <mat-card-content>
          <a mat-fab extended [routerLink]="item.route">
            <mat-icon>{{ item.icon }}</mat-icon>
            {{ item.label }}
          </a>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
<div class="footer-wrapper">
  <a class="sls-logo" href="https://www.sls.fi/">
    <img src="assets/images/SLS_logo_symbol_black_112x112.png" height="56px" width="56px" alt="SLS logo">
  </a>
  <p>App version: <a href="https://github.com/slsfi/digital-edition-cms-vincent/blob/main/CHANGELOG.md">{{ appVersion }}</a></p>
</div>

@if (loading$ | async) {
  <loading-spinner [overlay]="true"></loading-spinner>
}
