@let availableProjects = availableProjects$ | async;
@let selectedProject = selectedProject$ | async;
@let details = repoDetails$ | async;
<div class="container">

  @if (loading$ | async) {
    <loading-spinner [overlay]="true"></loading-spinner>
  }

  <div class="content">
    <h1>Home</h1>

    <mat-divider></mat-divider>
    <h2>Which project to edit?</h2>

    @if (availableProjects) {
      <mat-form-field>
        <mat-label>Selected Project</mat-label>
        <mat-select [value]="selectedProject" (selectionChange)="changeProject($event)">
          @for (project of availableProjects; track project.name) {
            <mat-option [value]="project.name">
              {{ project.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    @if (details !== null) {
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Repository details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>Repository: {{details.name}}</div>
          <div>Branch: {{details.branch}}</div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button (click)="pullRepo()">Sync repository</button>
        </mat-card-actions>
      </mat-card>
    }

    <mat-divider></mat-divider>
    <h2>Where to?</h2>

    <div class="nav-items">
      <mat-nav-list>
        @for (item of navItems; track item.route) {
          <a mat-list-item [routerLink]="item.route">
            <div class="nav-link">
              <mat-icon>{{item.icon}}</mat-icon>
              {{ item.label}}
            </div>
          </a>
        }
      </mat-nav-list>
    </div>
  </div>
</div>
