:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.footer-wrapper {
  margin-top: 5em;

  a.sls-logo {
    display: block;
    margin: 1em 0 2em 0;

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

h1 {
  margin: 2em 0 1em 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin-top: 2em;
}

p[role="doc-subtitle"] {
  font-size: 1.25rem;
  margin-bottom: 3em;
  text-align: center;
}

.granska-api-notification {
  width: 100%;

  p {
    background-color: #fff9ec;
    border: 2px solid #cc8c16;
    border-radius: 3px;
    padding: 0.5em 0.625em;
    margin: 1em auto;
    text-align: center;
    width: fit-content;
  }
}

.project-wrapper,
.nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.25rem;
}

.project-wrapper {
  mat-card {
    max-width: 390px;
    width: 100%;

    mat-card-title {
      font-size: 1.125rem;
    }

    &.select-project .mat-mdc-form-field {
      width: 100%;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0;

        + li {
          padding-top: 0.5em;
        }
      }
    }

    button {
      margin-top: 1em;
    }
  }
}

.nav-items {
  mat-card {
    max-width: 253px;
    width: 100%;

    a.mdc-fab {
      background-color: transparent;
      box-shadow: none;
      font-size: 1rem;
      justify-content: flex-start;
      width: 100%;

    }
  }
}

mat-card-content {
  padding: 1rem;
}
