.content {
  width: 500px;
  margin: 0 auto;
}

mat-divider {
  margin: 30px 0;
}

mat-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.nav-link {
  font-size: 20px;
}

.mdc-list-item.mdc-list-item--with-one-line {
  margin: 10px 0;
}

.mat-mdc-card-content {
  padding-top: 20px;
  padding-bottom: 10px;
}
