.content {
  display: flex;
  gap: 50px;
}

.publications {
  width: calc(100vw - 24px - 8em);

  .header {
    display: flex;
    gap: 50px;
    align-items: center;
  }
}

td.selected {
  background-color: #d5d4d4;
}
