
<h1>Text collection management</h1>

<ng-container *ngIf="(selectedProject$ | async) == null">
  <p>Please select a project</p>
</ng-container>

<div class="publications">
  <div class="header">
    <ng-container *ngIf="selectedPublicationCollection$ | async as selectedPublicationCollection">
      <button mat-icon-button routerLink="/publication-collections"><mat-icon>west</mat-icon></button>
      <h2>{{ selectedPublicationCollection.name }} </h2>
    </ng-container>
  </div>
</div>

<ng-template #publicationCollections>
  <ng-container *ngIf="publicationCollections$ | async as publicationCollections else loading">
    <div class="header-row">
      <h3>Publication collections ({{publicationCollections.length}})</h3>
      <div class="actions">
        <button mat-flat-button (click)="editPublicationCollection()"><mat-icon>add</mat-icon>Add</button>
      </div>
    </div>
    <div></div>
    <table mat-table [dataSource]="publicationCollections">
      <ng-container *ngFor="let column of publicationCollectionColumnsData">
        <ng-container [matColumnDef]="column.field">
          <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
          <td mat-cell *matCellDef="let publicationCollection">
            <ng-container *ngIf="column.field === 'id'">
              <a [routerLink]="['/publication-collections', publicationCollection.id]">{{ publicationCollection[column.field] }}</a>
            </ng-container>
            <ng-container *ngIf="column.type === 'date'">{{ publicationCollection[column.field] | customDate }}</ng-container>
            <ng-container *ngIf="column.field === 'title' || column.field == 'name'">{{ publicationCollection[column.field] }}</ng-container>
            <ng-container *ngIf="column.type === 'boolean'">{{ publicationCollection[column.field] === 0 ? 'No' : 'Yes' }}</ng-container>
            <ng-container *ngIf="column.type === 'published'">
              <ng-container *ngIf="publicationCollection[column.field] === 0">Not published</ng-container>
              <ng-container *ngIf="publicationCollection[column.field] === 1">Internally</ng-container>
              <ng-container *ngIf="publicationCollection[column.field] === 2">Externally</ng-container>
            </ng-container>
            <ng-container *ngIf="column.type === 'action'">
              <button mat-icon-button (click)="editPublicationCollection(publicationCollection)"><mat-icon>edit</mat-icon></button>
            </ng-container>
          </td>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="publicationCollectionDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: publicationCollectionDisplayedColumns;"></tr>
    </table>
  </ng-container>
</ng-template>

<ng-template #loading>
  <ng-container *ngIf="selectedProject$ | async as selectedProject">
    <loading-spinner></loading-spinner>
  </ng-container>
</ng-template>

<ng-container *ngIf="publicationCollectionId$ | async as publicationCollectionId else publicationCollections">
  <div class="publications">
    <div class="content">
      <div>
        <ng-container *ngIf="publications$ | async as publications else loading">
            <div class="header-row">
              <h3>Publications ({{publications.length}})</h3>
              <div class="actions">
                <button mat-flat-button (click)="editPublication()"><mat-icon>add</mat-icon>Add</button>
              </div>
            </div>
          <table mat-table [dataSource]="publications">
            <ng-container *ngFor="let column of publicationColumnsData">
              <ng-container [matColumnDef]="column.field">
                <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
                <td [ngClass]="{ 'selected': publication.id == (publicationId$ | async) }" mat-cell *matCellDef="let publication">
                  <ng-container *ngIf="column.field === 'id'">
                    <a [routerLink]="['/publication-collections/', publicationCollectionId, 'publication', publication.id]">{{ publication[column.field] }}</a>
                  </ng-container>

                  <ng-container *ngIf="column.type === 'date'">{{ publication[column.field] | customDate }}</ng-container>
                  <ng-container *ngIf="column.field === 'name'">{{ publication[column.field] }}</ng-container>
                  <ng-container *ngIf="column.type === 'boolean'">{{ publication[column.field] === 0 ? 'No' : 'Yes' }}</ng-container>
                  <ng-container *ngIf="column.type === 'published'">
                    <ng-container *ngIf="publication[column.field] === 0">Not published</ng-container>
                    <ng-container *ngIf="publication[column.field] === 1">Internally</ng-container>
                    <ng-container *ngIf="publication[column.field] === 2">Externally</ng-container>
                  </ng-container>
                  <ng-container *ngIf="column.type === 'action'">
                    <button mat-icon-button (click)="editPublication(publication, publicationCollectionId)"><mat-icon>edit</mat-icon></button>
                  </ng-container>
                </td>
              </ng-container>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="publicationDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: publicationDisplayedColumns;"></tr>
          </table>
        </ng-container>
      </div>
      <div>
        <ng-container *ngIf="selectedPublication$ | async as selectedPublication">
          <h3>{{ selectedPublication.name }} </h3>
          <div>
            <h4>File tree</h4>
            <ng-container *ngIf="fileTree$ | async as fileTree else loading">
              <div *ngIf="fileTree.length === 0">No files</div>
              <div>{{fileTree | json }}</div>
            </ng-container>
          </div>
          <ng-container *ngIf="publicationCollectionId$ | async as publicationCollectionId">
            <h4>Reading text</h4>
            <div>original_filename: {{ selectedPublication.original_filename }}</div>
            <ng-container *ngIf="comments$ | async as comments else loading">
              <h4>Comments</h4>
              <div>count: {{ comments.length }}</div>
              <ng-container *ngFor="let comment of comments">
                <div>id: {{ comment.id }}</div>
                <div>original_filename: {{ comment.original_filename }}</div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="versions$ | async as versions else loading">
              <h4>Versions</h4>
              <div *ngIf="versions.length === 0">No versions</div>
              <ng-container *ngFor="let version of versions">
                <div>id: {{ version.id }}</div>
                <div>name: {{ version.name }}</div>
                <div>original_filename: {{ version.original_filename }}</div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="manuscripts$ | async as manuscripts else loading">
              <h4>manuscripts</h4>
              <div *ngIf="manuscripts.length == 0">No manuscripts</div>
              <ng-container *ngFor="let manuscript of manuscripts">
                <div>id: {{ manuscript.id }}</div>
                <div>name: {{ manuscript.name }}</div>
                <div>original_filename: {{ manuscript.original_filename }}</div>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
