.selected-text {
  border: 1px solid #b1b1b1;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  padding: 0.75em;
  margin-bottom: 1em;

  .selected-text-label {
    font-weight: 500;
  }
}
