:host {
  display: block;
}

.table-title,
.row-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table-title {
  font-size: 1em;
  font-weight: 700;
}

.table-container {
  margin-top: 0.5em;
  overflow-x: auto;
}

.selected {
  background-color: #e1e1e1;

  &.mat-column-name {
    font-weight: 500;
  }
}

tr.mat-mdc-row:hover td {
  background-color: #ebebef;
  transition: background-color 0.3s;
}

.mat-column-index,
.mat-column-select {
  border-collapse: collapse;
  padding-right: 0;
  width: 1%;
}

td.mat-column-external_url {
  min-width: 120px;
}

td.mat-column-name {
  border-collapse: collapse;
  min-width: 180px;
}

td.mat-column-full_name {
  border-collapse: collapse;
  min-width: 250px;
}

td.mat-column-published {
  span {
    background-color: #eeeeee;
    border-radius: 3px;
    font-size: 0.8125rem;
    padding: 0.125em 0.25em;

    &.published-1 {
      color: #7021BA;
    }

    &.published-2 {
      color: #065e06;
    }
  }
}

td.mat-column-category {
  span {
    background-color: #eeeeee;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 0.8125rem;
    padding: 0.125em 0.25em;
  }
}

.index {
  color: #9d9d9d;
}

.center {
  text-align: center;
  margin-top: 10px;
}
