@let queryParams = queryParams$ | async;

@if ((data$ | async)) {
  <table mat-table [dataSource]="tableDataSource">
    @for (column of tableColumns; track column.field;) {
      <ng-container [matColumnDef]="column.field">
        <th mat-header-cell [ngClass]="{'index': column.type === 'index'}" *matHeaderCellDef>{{ column.header }}</th>
        <td [ngClass]="{'index': column.type === 'index', 'selected': model.id.toString() === selectedId }" mat-cell *matCellDef="let model; let i = index;">
          <ng-container
           [ngTemplateOutlet]="columnCells"
           [ngTemplateOutletContext]="{ column, model, index: i }">
          </ng-container>
        </td>
      </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="tableColumns.length">
        @if (loading$ | async) {
          <loading-spinner></loading-spinner>
        } @else {
          No rows
        }
      </td>
    </tr>
  </table>
  <mat-paginator
    #paginator
    [pageSizeOptions]="[20, 50, 100]"
    showFirstLastButtons>
  </mat-paginator>
}
<!-- @else {
  <cdk-virtual-scroll-viewport itemSize="52" class="viewport">
    <table class="mat-mdc-table">
      <thead>
        <tr>
          @for (column of tableColumns; track column.field) {
            <th [ngClass]="{'index': column.type === 'index'}">{{ column.header }}</th>
          }
        </tr>
      </thead>
      <tr *ngIf="!data.length">
        <td [attr.colspan]="tableColumns.length">No data</td>
      </tr>
      <tr *cdkVirtualFor="let model of data; let i = index;">
        @for (column of tableColumns; track column.field) {
          <td [ngClass]="{'index': column.type === 'index'}">
            <ng-container
              [ngTemplateOutlet]="columnCells"
              [ngTemplateOutletContext]="{ column, model, index: i }">
            </ng-container>
          </td>
        }
      </tr>
    </table>
  </cdk-virtual-scroll-viewport>
} -->

<ng-template #columnCells let-model="model" let-column="column" let-index="index">
  @if (column.type === 'index') {
    {{ (index + 1 + (paginator.pageIndex * paginator.pageSize)) }}
  } @else if (column.type === 'id') {
    <a routerLink="{{ idRouteParams | idRoute : model[column.field] }}" [queryParams]="queryParams">{{ model[column.field] }}</a>
  } @else if (column.type === 'date') {
    {{ model[column.field] | customDate : 'd.M.yyyy' }}
  } @else if (column.type === 'boolean') {
    {{ model[column.field] === 0 ? 'No' : 'Yes' }}
  } @else if (column.type === 'published') {
    <ng-container *ngIf="model[column.field] === 0">Not published</ng-container>
    <ng-container *ngIf="model[column.field] === 1">Internally</ng-container>
    <ng-container *ngIf="model[column.field] === 2">Externally</ng-container>
  } @else if (column.type === 'action') {
    <div class="row-actions">
      <button mat-icon-button (click)="edit(model)"><mat-icon>edit</mat-icon></button>
      @if (editSecondaryUsed) {
        <button mat-icon-button (click)="editSecondary(model)"><mat-icon>folder</mat-icon></button>
      }
    </div>
  } @else if (column.field === 'original_fieldname') {
    {{ model[column.field].split('/').join(' / ') }}
  } @else {
    {{ model[column.field] }}
  }
</ng-template>
