@let queryParams = queryParams$ | async;

@if ((data$ | async)) {
  <div class="header-row">
    <h4 class="row-actions">
      <ng-content select="[custom-table-title]"></ng-content>
      @if (tableDataSource.data) {
        {{ filteredCount }} / {{ originalCount }}
      }
    </h4>
    <div class="actions">
      <ng-content select="[custom-table-actions]"></ng-content>
    </div>
  </div>

  <table mat-table [dataSource]="tableDataSource">
    @if (selectable) {
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox [disabled]="true"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="selectionChanged(row)"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    }
    @for (column of tableColumns; track column.field;) {
      <ng-container [matColumnDef]="column.field">
        <th mat-header-cell [ngClass]="{'index': column.type === 'index'}" *matHeaderCellDef>{{ column.header }}</th>
        <td [ngClass]="{'index': column.type === 'index', 'selected': model.id.toString() === selectedId }" mat-cell *matCellDef="let model; let i = index;">
          <ng-container
           [ngTemplateOutlet]="columnCells"
           [ngTemplateOutletContext]="{ column, model, index: i }">
          </ng-container>
        </td>
      </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="tableColumns.length">
        No rows
      </td>
    </tr>
  </table>
  <mat-paginator
    *ngIf="paginationEnabled"
    #paginator
    [pageSizeOptions]="[20, 50, 100]"
    showFirstLastButtons>
  </mat-paginator>
}

<ng-template #columnCells let-model="model" let-column="column" let-index="index">
  @if (column.type === 'index') {
    {{ paginator ? (index + 1 + (paginator.pageIndex * paginator.pageSize)) : (index + 1) }}
  } @else if (column.type === 'id') {
    <a routerLink="{{ idRouteParams | idRoute : model[column.field] }}" [queryParams]="queryParams">{{ model[column.field] }}</a>
  } @else if (column.type === 'date') {
    {{ model[column.field] | customDate : 'd.M.yyyy' }}
  } @else if (column.type === 'boolean') {
    {{ model[column.field] === 0 ? 'No' : 'Yes' }}
  } @else if (column.type === 'published') {
    <ng-container *ngIf="model[column.field] === 0">Not published</ng-container>
    <ng-container *ngIf="model[column.field] === 1">Internally</ng-container>
    <ng-container *ngIf="model[column.field] === 2">Externally</ng-container>
  } @else if (column.type === 'action') {
    <div class="row-actions">
      <button mat-icon-button (click)="edit(model)"><mat-icon>edit</mat-icon></button>
      @if (editSecondaryUsed) {
        <button mat-icon-button (click)="editSecondary(model)"><mat-icon>folder</mat-icon></button>
      }
      @if (openUsed) {
        <button mat-icon-button (click)="open(model)"><mat-icon>photo_library</mat-icon></button>
      }
      @if (deleteUsed) {
        <button mat-icon-button (click)="delete(model)"><mat-icon>delete</mat-icon></button>
      }
    </div>
  } @else if (column.field === 'original_filename') {
    {{ model[column.field].split('/').join(' / ') }}
  } @else {
    {{ model[column.field] }}
  }
</ng-template>
