<div class="container">
  <div class="header-row">
    <h1>Project management</h1>
    <div class="actions">
      <button mat-flat-button (click)="filterProjects()"><mat-icon>filter_list</mat-icon>Filter</button>
      <button mat-flat-button (click)="editProject()"><mat-icon>add</mat-icon>Add</button>
    </div>

  </div>

  <ng-container *ngIf="filteredProjects$ | async as projects else loading">
    <custom-table [data]="projects" [columns]="columnsData" (editRow)="editProject($event)"></custom-table>
  </ng-container>
</div>

<ng-template #loading>
  <loading-spinner [overlay]="true"></loading-spinner>
</ng-template>
