<h2 mat-dialog-title>
  @if (data.dialogMode === 'add') {
    Add new node
  } @else {
    Edit node
  }
</h2>

<mat-dialog-content>
  <!-- Node type selection -->
  <div class="highlight-wrapper">
    <mat-radio-group [(ngModel)]="nodeType" (change)="setNodeType()">
      <mat-radio-button value="section">Section node</mat-radio-button>
      <mat-radio-button value="text">Text node</mat-radio-button>
    </mat-radio-group>
    @if (data.dialogMode === 'edit' && nodeType === 'text' && data.node?.type === 'section') {
      <div class="node-type-warning">You are about to change a section node to a text node. This will delete any child nodes previously attached to the node.</div>
    }
  </div>

  <!-- Link to publication -->
  <mat-form-field [hintLabel]="`Search results are limited to ${MAX_FILTERED} publications`" class="field-with-hint">
    <mat-label>Publication</mat-label>
    <input type="text"
          matInput
          [matAutocomplete]="pubAuto"
          [formControl]="searchControl"
          placeholder="Search by title or ID"
    >
    <mat-autocomplete #pubAuto="matAutocomplete"
          [displayWith]="displayPublication"
          (optionSelected)="selectPublication($event.option.value)"
    >
      @for (pub of filteredPublications$ | async; track pub.id) {
        <mat-option [value]="pub">
          {{ pub.name }} (ID: {{ pub.id }})
        </mat-option>
      }
    </mat-autocomplete>
    @if (searchControl.value) {
      <button matIconButton
            matSuffix
            (click)="clearPublicationSearch($event)"
            aria-label="Clear publication search"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Text</mat-label>
    <input matInput type="text" [(ngModel)]="text" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Item ID</mat-label>
    <input matInput type="text" [(ngModel)]="itemId" [required]="nodeType === 'text'">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput type="text" [(ngModel)]="description" rows="2"></textarea>
  </mat-form-field>

  <!-- Text node fields -->
  @if (nodeType === 'text') {
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput type="text" [(ngModel)]="date" placeholder="YYYY-MM-DD">
    </mat-form-field>
  }

  <mat-form-field>
    <mat-label>Language</mat-label>
    <mat-select [(ngModel)]="language" canSelectNullableOptions>
      @for (option of languageOptions; track option.label) {
        <mat-option [value]="option.code">{{option.label}}@if (option.code) { ({{option.code}})}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- Section node fields -->
  @if (nodeType === 'section') {    
    <mat-checkbox [(ngModel)]="collapsed">
      Collapsed by default
    </mat-checkbox>
  }

  <!-- Additional text node fields -->
  @if (nodeType === 'text') {
    <mat-form-field>
      <mat-label>Category</mat-label>
      <input matInput type="text" [(ngModel)]="category">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="facsimileOnly">
      Facsimile only
    </mat-checkbox>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button matButton [matDialogClose]="undefined">Cancel</button>
  <button matButton="filled" (click)="saveNode()" [disabled]="!text || (nodeType === 'text' && !itemId)">
    @if (data.dialogMode === 'add') {
      Add
    } @else {
      Update
    }
  </button>
</mat-dialog-actions>
