<h2 mat-dialog-title>Generate table of contents from publications</h2>

<mat-dialog-content>
  <p class="dialog-description">
    Create a flat table of contents from all publications in the collection.
  </p>
  <mat-form-field class="select-sort-order">
    <mat-label>Sort by publication</mat-label>
    <mat-select [(ngModel)]="selectedSortOption">
      @for (option of sortOptions; track option.value) {
        <mat-option [value]="option.value">
          {{ option.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button matButton [mat-dialog-close]="{value: false}">Cancel</button>
  <button matButton="filled"
        [mat-dialog-close]="{value: true, selectedSortOption}"
  >
    Generate
  </button>
</mat-dialog-actions>
