<mat-toolbar [class.center]="(isAuthenticated$ | async) === false">
  <ng-container *ngIf="(isAuthenticated$ | async) === true">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"  (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>
  <div class="topbar">
    <h1>Vincent – CMS for the SLS Digital Edition Platform</h1>
    <ng-container *ngIf="selectedProject$ | async as selectedProject">
      <div *ngIf="selectedProject">Project: {{selectedProject}}</div>
    </ng-container>
    <ng-container *ngIf="environment$ | async as environment">
      <div *ngIf="environment">Environment: {{environment}}</div>
    </ng-container>
  </div>
</mat-toolbar>
