@let isAuthenticated = isAuthenticated$ | async;
@let selectedProject = selectedProject$ | async;

<mat-toolbar>
  @if (isAuthenticated) {
    <div class="left-aligned">
      <button matIconButton
        class="menu-button"
        aria-label="Toggle menu"
        (click)="toggleMenu()"
        >
        <mat-icon>menu</mat-icon>
      </button>

      <div class="site-title">
        <a routerLink="/">Vincent – Digital Edition CMS</a>
      </div>
    </div>
  }
  @if (!isAuthenticated) {
    <a class="sls-logo" href="https://www.sls.fi/">
      <img src="assets/images/SLS_logo_symbol_black_112x112.png" height="56px" width="56px" alt="SLS logo">
    </a>
  }
  @if (isAuthenticated) {
    <div class="right-aligned">
      <div>
        Project:
        <mat-chip class="project-chip" routerLink="/" [highlighted]="selectedProject">{{selectedProject ? selectedProject : 'not selected'}}</mat-chip>
      </div>

      @if (environment$ | async; as environment) {
        @if (environment) {
          <div>
            Environment:
            <mat-chip highlighted matTooltip="Log out to change environment">{{environment}}</mat-chip>
          </div>
        }
      }

      <button matIconButton
        class="logout-button"
        aria-label="Log out"
        (click)="logout()"
        matTooltip="Log out"
        >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  }
</mat-toolbar>
