<h2 mat-dialog-title>{{ data.id ? 'Edit' : 'Add' }} project</h2>
<mat-dialog-content>
  <form [formGroup]="addProjectForm" id="project-form" (ngSubmit)="onSubmit($event)">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <ng-container *ngIf="data.id">
      <mat-form-field >
        <mat-label>Published</mat-label>
        <mat-select formControlName="published">
          <mat-option>Any</mat-option>
          <mat-option [value]="0">Not published</mat-option>
          <mat-option [value]="1">Internally</mat-option>
          <mat-option [value]="2">Externally</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Deleted</mat-label>
        <mat-select formControlName="deleted">
          <mat-option>Any</mat-option>
          <mat-option [value]="0">No</mat-option>
          <mat-option [value]="1">Yes</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput formControlName="id" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date created</mat-label>
        <input matInput formControlName="date_created" [matDatepicker]="picker1" />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date modified</mat-label>
        <input matInput formControlName="date_modified" [matDatepicker]="picker2" />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

    </ng-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" [disabled]="!addProjectForm.valid" type="submit"
    form="project-form">{{ data.id ? 'Edit' : 'Add' }}</button>
</mat-dialog-actions>
