<div class="container">
  <div class="header-row">
    <h1>Index of persons management</h1>
    <div class="actions">
      <ng-container *ngIf="queryParams$ | async as queryParams">
        <button mat-flat-button [matBadge]="queryParams.length > 0 ? queryParams.length : null" (click)="filterPersons()"><mat-icon>filter_list</mat-icon>Filter</button>
      </ng-container>
      <button mat-flat-button (click)="edit()"><mat-icon>add</mat-icon>Add</button>
    </div>
  </div>

  <ng-container *ngIf="(selectedProject$ | async) == null">
    <p>Please select a project</p>
  </ng-container>

  <!-- <ng-container *ngIf="filteredSubjects$ | async as subjects else loading"> -->
    <div class="header-row">
      <div class="active-filters">
        <span>Selected filters:</span>
        <ng-container *ngIf="queryParams$ | async as queryParams">
          <mat-chip-set aria-label="active filters">
            @for (filter of queryParams; track filter.header) {
              <mat-chip>{{ filter.header }}: {{ filter.value }}</mat-chip>
            }
          </mat-chip-set>
        </ng-container>
      </div>
      <div>{{ filteredSubjectsLength }} / {{ allSubjectsLength }} </div>
    </div>
    @if (loading$ | async) {
      <loading-spinner></loading-spinner>
    } @else {
      <custom-table
        [data$]="persons$"
        [columns]="columnsData"
        (editRow)="edit($event)">
      </custom-table>
    }
  <!-- </ng-container> -->
</div>



<ng-template #loading>
  <ng-container *ngIf="selectedProject$ | async as selectedProject">
    <loading-spinner [overlay]="true"></loading-spinner>
  </ng-container>
</ng-template>
