<div class="container">
  <div class="header-row">
    <h1>Index of persons management</h1>
    <div class="actions">
      <ng-container *ngIf="queryParams$ | async as queryParams">
        <button mat-flat-button [matBadge]="queryParams.length > 0 ? queryParams.length : null" (click)="filterPersons()"><mat-icon>filter_list</mat-icon>Filter</button>
      </ng-container>
      <button mat-flat-button (click)="edit()"><mat-icon>add</mat-icon>Add</button>
    </div>
  </div>

  <ng-container *ngIf="(selectedProject$ | async) == null">
    <p>Please select a project</p>
  </ng-container>

  <ng-container *ngIf="filteredSubjects$ | async as subjects else loading">
    <div class="header-row">
      <div class="active-filters">
        <span>Selected filters:</span>
        <ng-container *ngIf="queryParams$ | async as queryParams">
          <mat-chip-set aria-label="active filters">
            @for (filter of queryParams; track filter.header) {
              <mat-chip>{{ filter.header }}: {{ filter.value }}</mat-chip>
            }
          </mat-chip-set>
        </ng-container>
      </div>
      <div>{{ subjects.length }} / {{ allSubjectsLength }} </div>
    </div>
    <ng-container *ngIf="subjects.length < 1000 else virtualScroll">
      <table mat-table [dataSource]="subjects">
        @for (column of columnsData; track column.field) {
          <ng-container [matColumnDef]="column.field">
            <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
            <td mat-cell *matCellDef="let subject">
              <ng-container *ngIf="column.type === 'date'">{{ subject[column.field] | customDate: 'd.M.yyyy' }}</ng-container>
              <ng-container *ngIf="column.type === 'string' || column.type === 'number' || column.type === 'textarea'">{{ subject[column.field] }}</ng-container>
              <ng-container *ngIf="column.type === 'boolean'">{{ subject[column.field] === 0 ? 'No' : 'Yes' }}</ng-container>
              <ng-container *ngIf="column.type === 'published'">
                <ng-container *ngIf="subject[column.field] === 0">Not published</ng-container>
                <ng-container *ngIf="subject[column.field] === 1">Internally</ng-container>
                <ng-container *ngIf="subject[column.field] === 2">Externally</ng-container>
              </ng-container>
              <ng-container *ngIf="column.type === 'action'">
                <button mat-icon-button (click)="edit(subject)"><mat-icon>edit</mat-icon></button>
              </ng-container>
            </td>
          </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- No content -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="columnsData.length">No data</td>
        </tr>
      </table>

    </ng-container>

    <ng-template #virtualScroll>
      <cdk-virtual-scroll-viewport itemSize="52" class="viewport">
        <table class="mat-mdc-table">
          <thead>
            <tr>
              <th class="index">#</th>
              @for (column of columnsData; track column.field) {
                <th>{{ column.header }}</th>
              }
            </tr>
          </thead>
          <tr *ngIf="!subjects.length">
            <td [attr.colspan]="columnsData.length">No data</td>
          </tr>
          <tr *cdkVirtualFor="let person of subjects; let i = index;">
            <td class="index">{{ i + 1 }}</td>
            @for (column of columnsData; track column.field) {
              <td>
                <ng-container *ngIf="column.type === 'date'">{{ person[column.field] | customDate: 'd.M.yyyy' }}</ng-container>
                <ng-container *ngIf="column.type === 'string' || column.type === 'number' || column.type === 'textarea'">{{ person[column.field] }}</ng-container>
                <ng-container *ngIf="column.type === 'boolean'">{{ person[column.field] === 0 ? 'No' : 'Yes' }}</ng-container>
                <ng-container *ngIf="column.type === 'published'">
                  <ng-container *ngIf="person[column.field] === 0">Not published</ng-container>
                  <ng-container *ngIf="person[column.field] === 1">Internally</ng-container>
                  <ng-container *ngIf="person[column.field] === 2">Externally</ng-container>
                </ng-container>
                <ng-container *ngIf="column.type === 'action'">
                  <button mat-icon-button (click)="edit(person)"><mat-icon>edit</mat-icon></button>
                </ng-container>
              </td>
            }
          </tr>
        </table>
      </cdk-virtual-scroll-viewport>
    </ng-template>
  </ng-container>
</div>



<ng-template #loading>
  <ng-container *ngIf="selectedProject$ | async as selectedProject">
    <loading-spinner [overlay]="true"></loading-spinner>
  </ng-container>
</ng-template>
