.viewport {
  height: calc(100vh - 300px);
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  th, td {
    background-color: #faf9fd;
    padding: 0 16px;
  }

  th {
    height: 56px;
  }

  td {
    height: 52px;
    border-top: 1px solid #e0e0e0;
  }
}
