/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  width: calc(100vw - 8em);
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.snackbar-success {
  &.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
    background-color: #43a047;
  }
}

.snackbar-error {
  &.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
    background-color: #d32f2f;
  }
}

.snackbar-warning {
  &.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
    background-color: #ff9800;
  }
}

.snackbar-error, .snackbar-success, .snackbar-warning {
  .mat-mdc-button {
    color: white !important;
  }
}

.mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
    padding: var(--mat-dialog-content-padding, 20px 24px) !important;
}
