@let sortParams = sortParams$ | async;
@let filterParams = filterParams$ | async;
@let selectedProject = selectedProject$ | async;
@let selectedPublicationCollection = selectedPublicationCollection$ | async;
@let publicationCollectionId = publicationCollectionId$ | async;

<h1>Text collection management</h1>

@if (selectedProject === null) {
  <p>Please select a project</p>
} @else {
  <div class="selected-collection">
    @if (selectedPublicationCollection) {
      <a mat-icon-button routerLink="/publication-collections"><mat-icon>west</mat-icon></a>
      <h2>{{ selectedPublicationCollection.name }} (ID {{ selectedPublicationCollection.id }})</h2>
    }
  </div>

  @if (publicationCollectionId) {
    <publications></publications>
  } @else {
    <custom-table
      class="all-collections-table"
      [data$]="publicationCollections$"
      [columns]="publicationCollectionColumnsData"
      [idRouteParams]="['/publication-collections/']"
      (editRow)="editPublicationCollection($event)"
      (deleteRow)="deletePublicationCollection($event)">
      <ng-content custom-table-title>Publication collections</ng-content>
      <ng-content custom-table-actions>
        <button mat-flat-button [matBadge]="sortParams && sortParams?.length ? sortParams.length : null" (click)="sort()"><mat-icon>sort</mat-icon>Sort</button>
        <button mat-flat-button [matBadge]="filterParams && filterParams?.length ? filterParams.length : null" (click)="filter()"><mat-icon>filter_list</mat-icon>Filter</button>
        <button mat-flat-button (click)="editPublicationCollection()"><mat-icon>add</mat-icon>Add</button>
      </ng-content>
    </custom-table>
    @if (loading$ | async) {
      <loading-spinner [overlay]="true"></loading-spinner>
    }
  }

}
