<div class="menu">
  <mat-divider></mat-divider>
  <mat-nav-list>
    @for (item of navItems; track item.route) {
      <a mat-list-item [routerLink]="item.route" [activated]="item.route === currentUrl" (click)="toggleMenu()">
        <div class="nav-link">
          <mat-icon>{{item.icon}}</mat-icon>
          {{ item.label}}
        </div>
      </a>
    }
  </mat-nav-list>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <a href="/" mat-list-item (click)="logout();toggleMenu();">
      <mat-icon matListItemIcon>logout</mat-icon>
      <div matListItemTitle>Log out</div>
    </a>
  </mat-nav-list>
</div>
