<a mat-icon-button routerLink="/facsimiles"><mat-icon>west</mat-icon></a>
<h2>Facsimile collection</h2>



@if (loading$ | async) {
  <loading-spinner [overlay]="true"></loading-spinner>
}
<ng-container *ngIf="facsimile$ | async as facsimile">
  <h3>{{ facsimile.title }}</h3>
  <div class="pages">number of pages: {{ facsimile.number_of_pages }}</div>


  @if (firstImageIsValid) {
    <div class="images">
      @for (page of [].constructor(facsimile.number_of_pages); track page; let i = $index) {
        <div class="image">
          <div>{{ i + 1 }}</div>
            <facsimile-file [collectionId]="facsimile.id" [pageNumber]="i + 1"></facsimile-file>
        </div>
      } @empty {
        <p>No pages</p>
      }
    </div>
  } @else {
    @if (facsimile.number_of_pages) {
      <file-upload
        [collectionId]="facsimile.id"
        [numberOfPages]="facsimile.number_of_pages">
      </file-upload>
    } @else {
      <p>No pages</p>
    }
  }
</ng-container>
