.file-input {
  display: none;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
  padding: 0;

  .image {
    border: solid 1px #ccc;
    display: flex;
    flex-direction: column;
  }

  .image > div {
    text-align: center;
    background-color: #ccc;
  }

}

.pages {
  margin: 20px 0;
}

facsimile-file {
  height: 100px;
}

.img {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.success {
  color: #43a047;
}

.error {
  color: #d32f2f;
}
