.selected-facsimile-collection {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.actions-row {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin: 1.5rem 0;
}

.edit-facs-coll-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.625rem;
  margin: 1rem 0 0 0;

  p {
    font-size: 0.875rem;
    max-width: 450px;
    width: 100%;
  }

  button {
    margin-right: 1em;
  }
}

.number-of-pages-field {
  min-width: 12em;
  max-width: 12em;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
  padding: 0;

  .image {
    border: solid 1px #ccc;
    display: flex;
    flex-direction: column;
  }

  .image > div {
    text-align: center;
    background-color: #ccc;
  }
}

.img-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.success {
  color: #43a047;
}

.error {
  color: #d32f2f;
}
