<h2 mat-dialog-title>@if (title) { {{title}} } @else { Confirm action }</h2>
<mat-dialog-content>
  <p>{{ message }}</p>
  
  @if (showCascadeBoolean) {
    <mat-slide-toggle [(ngModel)]="cascadeBoolean">
      {{ cascadeText }}
    </mat-slide-toggle>
  }
  
  @if (showMetadataFields) {
    <div class="toggle-fields">
      <h3>Select fields to update:</h3>
      @for (field of metadataFields; track field.key) {
        <mat-slide-toggle 
          [(ngModel)]="selectedMetadataFields[field.key]" 
        >
          {{ field.label }}
        </mat-slide-toggle>
      }
    </div>
  }

  @if (showTocUpdateFields) {
    <div class="toggle-fields">
      <h3>Select fields to update:</h3>
      @for (field of tocUpdateFields; track field.key) {
        <mat-slide-toggle 
          [(ngModel)]="selectedTocUpdateFields[field.key]" 
        >
          {{ field.label }}
        </mat-slide-toggle>
      }
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton
    [matDialogClose]="{value: false}"
  >{{ cancelText }}</button>
  <button matButton="filled"
    [class.delete-action]="isDeleteAction"
    [matDialogClose]="{value: true, cascadeBoolean, selectedMetadataFields, selectedTocUpdateFields}"
    cdkFocusInitial
  >{{ confirmText }}</button>
</mat-dialog-actions>
